*{
	padding: 0;
	margin: 0;
	text-align: center;			/*Centers all the elemetns*/
	vertical-align: top;
	font-family: 'Rum Raisin', sans-serif;
	font-size: 20px;			/*The base font size that determines all the other fontsize.*/
}

h1 {
	font-size: 4ex;				/*4 times the base font*/
}

h2 {
	font-size: 3ex;
	font-family: 'Inika', bold, serif;
}

h3 {
	font-size: 2.34ex;
	font-family: 'Capriola', sans-serif;
}

h4 {
	font-size: 1.80ex;
	color: darkgreen;
	font-family: 'Overlock SC', cursive;
}

h5 {
	font-size: 1.66ex;
}

h6 {
	font-size: 1.50ex;
}

html,body { height:100%; }

#wrapper {
	background-image: url("../background/behind.jpg");
	background-color:black;
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	overflow:hidden;
}

#banner {
	background-image: url("../background/green_leaves.jpg");
	overflow: hidden;
	font-family: "Josefin Sans", "Joti One", sans-serif;
	color: white;
	/*color: lightgreen;*/
}

.Past_Year {
	background-image: url("../background/green_leaves.jpg");
	overflow: hidden;
	color: lightgreen;
}

#Info_Board_Boarder {
	background-image: url("../background/light_table.jpg");
	color: lightgreen;
	/*box-shadow: 5px 5px 5px  #888888;*/
	border: 5px;
	border-style: inset;
	border-color: #6F4E37;
	overflow:hidden;
}
#Info_Board {
	/*margin: auto;*/
}

#PostIt {
 	 padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-image: url("../background/postIt_1-pastels.png");
	background-size: 220px 220px;
	width: 220px;
	height: 220px;
	background-repeat: no-repeat;
	color: black;
	display: inline-block;
	vertical-align: middle;
}

.imgcenter {
	display: inline;		/*The default value for images are display:block in
	 							bootstrap. So I overwrote that with
								display:inline so that the images would still
								be centered*/
}

.row {
	vertical-align: top;		/*To align any elements I have in rows*/
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.navbar {
	border-radius: 0;		/*Makes the navbar more squareular*/
}
